/* Variables */
$bg-color: #FCFFFD;
$title-color: #00CC99;
$font-color: #8872E9;

body {
  background-color: $bg-color;
}

/* START NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: $font-color;
  }
}
/* END NAVBAR */


/* START HOME */
.index-annonces {
  margin-top: 6%;

  h1, h2 {
  color: $title-color;
}

  p {
    color: $font-color;
  }
}

.card-annonce {
  margin-bottom: 4%;
}

.form-filters {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $font-color;

  div {
    margin-left: 2%;
  }

  button {
    margin-left: 2%;
    border: none;
    background-color: transparent;
    color: $title-color;
    cursor: pointer;
  }

  input, select {
    color: $title-color;
  }
}
/* END HOME */


/* START USER PROFILE */
.user-profile {
  margin-top: 6%;

  h1, h2 {
    color: $title-color;
  }

  p {
    color: $font-color;
  }

  .link-edit {
    text-decoration: none;
  }
}

.user-annonces {
  margin-top: 6%;
}
/* END USER PROFILE */



/* START CREATE/EDIT ANNONCE */
.create-form, .edit-form {
  margin-top: 4%;
  color: $font-color;
  display: flex;
  flex-direction: column;

  h1 {
    color: $title-color;
  }

  .checkbox {
    display: flex;
    justify-content: center;
  }

  div {
    margin-bottom: 2%;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: large;
    color: $title-color;
    cursor: pointer;
  }
}
/* END CREATE/EDIT ANNONCE */


/* START LOGOUT FORM */
.logout-form {
  margin-top: 6%;

  h1 {
    color: $title-color;
    margin-bottom: 6%;
  }

  button {
    border: solid 2px $font-color;
    border-radius: 5px;
    background-color: transparent;
    color: $title-color;
    cursor: pointer;
  }
}
/* END LOGOUT FORM */


/* START LOGIN/REGISTER FORM */
.login-form {
  margin-top: 6%;
  color: $font-color;

  h1 {
    color: $title-color;
    margin-bottom: 6%;
  }

  div {
    margin-bottom: 2%;
  }

  input::placeholder, input {
    color: $title-color;
  }

  button {
    margin-top: 2%;
    border: none;
    background-color: transparent;
    color: $title-color;
    font-size: large;
    cursor: pointer;
  }
}

.links {
  text-decoration: none;
  color: $font-color;
  cursor: pointer;
}
/* END LOGIN/REGISTER FORM */




