/* Variables */
$bg-color: #FCFFFD;
$title-color: #00CC99;
$font-color: #8872E9;

body {
  background-color: $bg-color;
}

/* START NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: $font-color;
}
/* END NAVBAR */


/* START DROPDOWN */
.dropdown {
  position: relative;
}

.btn-dropdown {
  color: $font-color;
  cursor: pointer;
}

.menu-drop {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100px;
}

.menu-drop li {
  padding: 8px 16px;
}

.menu-drop li a {
  text-decoration: none;
  color: $font-color;
  display: block;
}

.menu-drop li a:hover {
  color: $title-color;
  background-color: transparent;
}

.dropdown.open .menu-drop {
  display: block;
}
/* END DROPDOWN */


.hero {
  margin-top: 6%;
  margin-bottom: 6%;
  color: $font-color;
}


/* START HOME */
.index-annonces {
  margin-top: 6%;

  h1, h2 {
  color: $title-color;
}

  p {
    color: $font-color;
  }

  a {
    text-decoration: none;
  }
}

.card-annonce {
  margin-bottom: 4%;
}

.form-filters {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $font-color;

  div {
    margin-left: 2%;
  }

  button {
    margin-left: 2%;
    border: none;
    background-color: transparent;
    color: $title-color;
    cursor: pointer;
  }

  input, select {
    color: $title-color;
  }
}
/* END HOME */


/* START USER PROFILE */
.user-profile {
  margin-top: 6%;

  h1, h2 {
    color: $title-color;
  }

  p {
    color: $font-color;
  }

  .link-edit {
    text-decoration: none;
  }
}

.user-annonces {
  margin-top: 6%;
}
/* END USER PROFILE */



/* START CREATE/EDIT ANNONCE */
.create-form, .edit-form {
  margin-top: 4%;
  color: $font-color;
  display: flex;
  flex-direction: column;

  h1 {
    color: $title-color;
  }

  .checkbox {
    display: flex;
    justify-content: center;
  }

  div {
    margin-bottom: 2%;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: large;
    color: $title-color;
    cursor: pointer;
  }
}
/* END CREATE/EDIT ANNONCE */


/* START LOGOUT FORM */
.logout-form {
  margin-top: 6%;

  h1 {
    color: $title-color;
    margin-bottom: 6%;
  }

  button {
    border: solid 2px $font-color;
    border-radius: 5px;
    background-color: transparent;
    color: $title-color;
    cursor: pointer;
  }
}
/* END LOGOUT FORM */


/* START LOGIN/REGISTER FORM */
.login-form {
  margin-top: 6%;
  color: $font-color;

  h1 {
    color: $title-color;
    margin-bottom: 6%;
  }

  div {
    margin-bottom: 2%;
  }

  input::placeholder, input {
    color: $title-color;
  }

  button {
    margin-top: 2%;
    border: none;
    background-color: transparent;
    color: $title-color;
    font-size: large;
    cursor: pointer;
  }
}

.links {
  text-decoration: none;
  color: $font-color;
  cursor: pointer;
}
/* END LOGIN/REGISTER FORM */





.dropdown-toggle {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #e86969;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #de7272;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu.show {
  display: block;
}

