/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
$bg-color: #FCFFFD;
$title-color: #00CC99;
$font-color: #8872E9;
$logo-font: 'Spicy Rice', serif;
$font: 'Raleway', sans-serif;

body {
  background-color: $bg-color;
  font-family: $font;
}

/* START NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: $font-color;
}

.logo {
  font-family: $logo-font;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
}
/* END NAVBAR */



/* START DROPDOWN */
.dropdown {
  position: relative;
}

.btn-dropdown {
  color: $font-color;
  cursor: pointer;
}

.menu-drop {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100px;
}

.menu-drop {
  padding: 20%;
  margin: 6%;
}

.menu-drop a {
  text-decoration: none;
  color: $font-color;
  display: block;
}

.menu-drop a:hover {
  color: $title-color;
  background-color: transparent;
}

.dropdown.open .menu-drop {
  display: block;
}
/* END DROPDOWN */


/* START HERO */
.hero {
  position: relative;
  margin-top: 6%;
  margin-bottom: 6%;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: $bg-color; /* Utiliser la variable pour la couleur du texte */
}

.hero-text p {
  margin: 5;
  padding: 0;
  color: $bg-color !important;
  font-size: 250%;
}

.hero-text h1 {
  margin: 5;
  padding: 0;
  color: $bg-color !important;
  font-size: 300%;
}

.domus {
  font-family: $logo-font;
}
/* END HERO */



/* START HOME */
.annonce-details {
  text-decoration: none;
  color: inherit;
}

.annonce-card {
  border: 1px solid $font-color;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: $bg-color;
  max-width: 300px;
  
}

.annonce-card:hover {
  transform: scale(1.02);
}

.annonce-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}

.index-annonces {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  h1, h2 {
  color: $title-color;
  }

  p {
    color: $font-color;
  }

  a {
    text-decoration: none;
  }
}

.form-filters {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $font-color;

  div {
    margin-left: 2%;
  }

  button {
    margin-left: 2%;
    border: none;
    background-color: transparent;
    color: $title-color;
    cursor: pointer;
  }

  input, select {
    color: $title-color;
  }
}
/* END HOME */



/* START USER PROFILE */
.profil-title {
  color: $title-color;
  margin-top: 6%;
}

.link-edit {
  border: none;
  background-color: transparent;
  color: $title-color;
  cursor: pointer;
  font-size: medium;
}

.link-delete {
  border: none;
  background-color: transparent;
  color: rgb(111, 7, 248);
  cursor: pointer;
  font-size: medium;
}
/* END USER PROFILE */



/* START CREATE/EDIT ANNONCE */
.create-form, .edit-form {
  margin-top: 4%;
  color: $font-color;
  display: flex;
  flex-direction: column;

  h1 {
    color: $title-color;
  }

  .checkbox {
    display: flex;
    justify-content: center;
  }

  div {
    margin-bottom: 2%;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: large;
    color: $title-color;
    cursor: pointer;
  }
}
/* END CREATE/EDIT ANNONCE */



/* START LOGOUT FORM */
.logout-form {
  margin-top: 6%;

  h1 {
    color: $title-color;
    margin-bottom: 6%;
  }

  button {
    border: solid 2px $font-color;
    border-radius: 5px;
    background-color: transparent;
    color: $title-color;
    cursor: pointer;
  }
}
/* END LOGOUT FORM */



/* START LOGIN/REGISTER FORM */
.login-form {
  margin-top: 6%;
  color: $font-color;

  h1 {
    color: $title-color;
    margin-bottom: 6%;
  }

  div {
    margin-bottom: 2%;
  }

  input::placeholder, input {
    color: $title-color;
  }

  button {
    margin-top: 2%;
    border: none;
    background-color: transparent;
    color: $title-color;
    font-size: large;
    cursor: pointer;
  }
}

.links {
  text-decoration: none;
  color: $font-color;
  cursor: pointer;
}
/* END LOGIN/REGISTER FORM */



/* START ANNONCE DETAILS */
.announcement-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px auto;
  margin-top: 8%;
}

.annonce-details h1 {
  font-size: 24px;
  margin-bottom: 12px;
  color: $title-color;
  font-family: $font;
}

.annonce-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.annonce-details p {
  margin: 8px 0;
  color: $font-color;
}

.annonce-details p strong {
  font-weight: bold;
  color: $title-color;
}
/* END ANNONCE DETAILS */






