Bonjour <%= @user.email %>
===============================================

Vous avez demandé à réinitialiser votre mot de passe.
Vous pouvez le faire en cliquant sur ce lien : <a href="http://localhost:3000/reset-password/@token"> Réinitialiser mon mot de passe </a>
Merci et à bientôt !