<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Bonjour <%= @user.email %> </h1>

    <p>
      Vous avez demandé à réinitialiser votre mot de passe.
      Vous pouvez le faire en cliquant sur ce lien : <a href="http://localhost:3000/reset-password/<%= @token %>"> Réinitialiser mon mot de passe </a>
    </p>

    <p> Merci et à bientôt! </p>
  </body>
</html>




