Réinitialisation de votre mot de passe
==========================================================

Bonjour <%= @user.email %>

Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le lien ci-dessous pour définir un nouveau mot de passe :

<a href="<%= @url %>"> Réinitialiser mon mot de passe </a>

Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.

Merci,
      L'équipe Marketplace