Bonjour <%= @user.email
===============================================

Vous avez demandé à réinitialiser votre mot de passe.
Vous pouvez le faire en cliquant sur ce lien : <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>">Réinitialiser mon mot de passe</a>
Merci et à bientôt!