<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @resource.email %></h1>
    
    <p>
      Vous avez demandé à réinitialiser votre mot de passe.
      Vous pouvez le faire en cliquant sur ce lien : <%= link_to 'Réinitialiser mon mot de passe', "http://localhost:5173/reset-password/#{@token}" %>
    </p>

    <p>Merci et à bientôt!</p>
  </body>
</html>
