.hero {
    width: 100%;
    text-align: center;
    padding: 50px 60px;
    background: #e95c5c;
    box-sizing: border-box;
  }
  
  .hero img {
    width: 100%;
    height: auto;
    max-width: 600px; 
  }
  